:root {
    --CONTENT_SECONDARY: #55546B;
    --PRIMARY_DARKEST: #142b52;
    --PRIMARY_DARKER: #006B95;
    --PRIMARY_DARK: #007EAF;
    --PRIMARY: #00AFBA;
    --PRIMARY_LIGHT: #45C6E8;
    --PRIMARY_LIGHTER: #A5DEEF;
    --PRIMARY_LIGHTER_EVEN: #D7EFF6;
    --PRIMARY_LIGHTEST: #E5F5FB;
    --SECONDARY_DARKEST: #5C3607;
    --SECONDARY_DARKER: #7E5522;
    --SECONDARY_DARK: #986B34;
    --SECONDARY: #BC8540;
    --SECONDARY_LIGHT: #D4A05E;
    --SECONDARY_LIGHTER: #EDCA9E;
    --SECONDARY_LIGHTER_EVEN: #FFE6C6;
    --SECONDARY_LIGHTEST: #FFF2E3;
    --SECONDARY_HIGHLIGHT: #7D19FF;
    --DIM_DARKEST: #191924;
    --DIM_DARKER: #141430;
    --DIM_DARK: #242446;
    --DIM: #504F6C;
    --DIM_LIGHT: #747391;
    --DIM_LIGHTER: #A8A8B8;
    --DIM_LIGHTER_EVEN: #E0E0E7;
    --DIM_LIGHTEST: #F8F8FA;
    --TERTIARY_LIGHTEST: #F4F8FB;
    --ERROR: #FF005C;
    --ERROR_DARK: #BA0430;
    --WARNING: #FF9900;
    --WHITE: #FFFFFF;
    --BLACK: #000000;
    --FONT_FAMILY: -apple-system, BlinkMacSystemFont, Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --MONO_FONT_FAMILY: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body {
    background-color: var(--DIM_LIGHTER_EVEN);
    font-family: var(--FONT_FAMILY);
    font-size: 115%;
}

#header {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    margin: auto;
    justify-items: start;
    align-items: center;
    background-color: var(--PRIMARY_DARKEST);
    color: var(--PRIMARY_LIGHTEST);
}

#header h1 {
    margin-left: 1rem;
}

#header .logo {
    height: 80px;
}

#main {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.tower-health-table {
    width: 800px;
    margin: 1rem auto;
    background-color: var(--DIM_LIGHTEST);
    border-collapse: collapse;
}

.tower-health-table thead {
    background-color: var(--PRIMARY_LIGHTER);
}

.tower-health-table th,
.tower-health-table td {
    border: 1px solid var(--DIM_LIGHT);
    padding: 0.25rem;
}

.tower-health-table tr.status-ERR {
    color: var(--ERROR);
}

.tower-health-table tr.status-WARN {
    color: var(--WARNING);
}
